body {
    height: 100%;
    text-align: center;
    background: rgb(240, 235, 248);
}

article section {
    margin-top: 50px;
    height: 600px;
    width: 640px;
    max-width: 90vw;  
    background: white;
    border: 2px solid black;
    position: relative;
}

form {
    text-align: left;
    font-size: 28px;
    width: 260px;
}


#stylized label {
    text-align: right;
}

#stylized input {
    text-align: left;
    font-size: 24px;
}

#unstyl {
    visibility: hidden;
}

ul {
    list-style-type: none;
    font-size: 24px;
    text-align: left;
}

li {
    margin: 8px;
}
